<div class="row"> 
  <div class="col-sm-8">
    <h1 class="well"><%= @todo_list.title %> - Edit</h1>
  </div>
  <div class="col-sm-8">
	<div class="well">
		<%= form_for [@todo_list, @todo_item] do |form| %>
		<%= render partial: form %>
		<% end %>
		<br>
		<%= link_to " Delete", todo_list_todo_item_path(@todo_list, @todo_item), method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash" %>
	</div>
  </div>
</div>
