<div>
  <% if @go_back_link_to %>
    <%= link_to "Back", @go_back_link_to %>
  <% else %>
    <%= link_to "Sign Out", logout_path, method: :delete %>
  <% end %>
</div>
<div>
  <h1><%= link_to "Todo Lists", todo_lists_path%></h1>
</div>
<div>
  <%= new_item_link %>
</div>